body {
	background-color: #111;
	color: #eee;
}

.heroes__wrapper {
	padding: 40px 0;
	min-height: 100vh;
}

.heroes__sliders {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 30px;
}

.heroes__slider-left {
	max-width: 50%;
}

.heroes__slider-right {
	max-width: 40%;
}

.heroes-swiper-slide {
	min-height: 600px;
}

.heroes-swiper-slide p {
	font-size: 15px;
	line-height: 1.8;
}

.heroes-swiper-slide h2 {
	font-size: 24px;
	font-weight: 700;
}

.hero__swiper img {
	width: 100%;
	height: 80vh;
	/* height: 100%; */
	object-fit: cover;
}

.heroes__swiper-main img {
	height: 40px;
	width: 80px;
}

.swiper-pagination-bullet-descr {
	width: 120px;
	height: 80px;
	margin: 0 4px;
	background: unset;
	border-radius: 8px;
	border: 2px solid rgb(112, 112, 112);
	overflow: hidden;
}

.swiper-button {
	bottom: 30px;
	top: unset;
}

.heroes-swiper-pagination.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 4px;
	/* border-radius: unset; */
}

.swiper-pagination-bullet-descr img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-descr {
	transform: scale(1);
}

.swiper-button-next, .swiper-button-prev {
	color: var(--color-accent);
}